<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Custom Busshop</h2>
            <h3 class="oe_slogan">Optimizations for Customer Busshop</h3>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">View Changes</h2>
        <div class="oe_span6">
            <h4>Product form view</h4>
            <p class="oe_mt32">
                Tables for accessory and alternative products are now located
                in Information tab instead of Sales
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot"
                     src="screenshot_product_form_product_information.png"
                     alt="Screenshot">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 oe_centered oe_muted">
            More information about Odoo Services of
            <a style="color:#6d57e0" href="https://jamotion.ch/" target="_blank">
                Jamotion GmbH here...</a>
        </div>
    </div>
</section>
